<!-- <app-header></app-header>

<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-products></app-products>
<app-footer></app-footer>
<app-parent></app-parent>-->
<!-- Ass. 3 -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-posts></app-posts>
<app-users></app-users>
<app-home></app-home> -->
<!-- 
<app-header></app-header>
<nav>
    
    <a routerLink="/home" routerLinkActive="active">Home</a>
    &nbsp;
    <a routerLink="/products" routerLinkActive="active">Products</a>
    &nbsp;
    <a routerLink="/users" routerLinkActive="active">Users</a>
    &nbsp;
    <a routerLink="/posts" routerLinkActive="active">Posts</a>
</nav>
<app-footer></app-footer>
-->

<app-header></app-header>
<router-outlet></router-outlet> 
